@tailwind base;
@tailwind components;
@tailwind utilities;

table {
	padding: 30px;
}
th {
	background-color: rgb(255, 244, 233);
}
th,
td {
	padding: 15px;
}

aside {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}
